lire-2.0.1-mdk-bind.cfg.bz2
lire-2.0.1-mdk-cups.cfg.bz2
lire-2.0.1-mdk-httpd.cfg.bz2
lire-2.0.1-mdk-httpd-perl.cfg.bz2
lire-2.0.1-mdk-iptables.cfg.bz2
lire-2.0.1-mdk-mysql.cfg.bz2
lire-2.0.1-mdk-postfix.cfg.bz2
lire-2.0.1-mdk-postgresql.cfg.bz2
lire-2.0.1-mdk-proftpd.cfg.bz2
lire-2.0.1-mdk-spamassassin.cfg.bz2
lire-2.0.1-mdk-squid.cfg.bz2
lire-2.0.1-mdk-syslog.cfg.bz2
lire-2.1.tar.gz
lire-2.1.tar.gz.asc
lire.crontab
